/* Add this to your WebSerial.css */
.web-serial-container {
    padding: 20px;
    margin: 0px auto 400px
}

.console {
    background-color: black;
    color: limegreen;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    font-family: 'Courier New', monospace;
    outline: none;
    position: relative;
    max-height: 30em;
    margin-top: 10px;
}

.input-line {
    display: inline-block;
    font-family: monospace;
    color: #00ff00;
    white-space: pre-wrap;
    border: none;
    outline: none;
}

h1 {
    color: #c58bc5;
}

.console.ctrl-pressed .code.clickable {
    cursor: pointer;
}

.console.ctrl-pressed .code.clickable a {
    color: blue;
    text-decoration: underline;
}

.hidden-input {
    flex: 1;
    border: none;
    outline: none;
    font-family: monospace;
    color: #00ff00;
    background-color: transparent;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.code {
    display: block;
    font-family: monospace;
    color: #00ff00;
    white-space: pre-wrap;
}

/* Style for buttons */
button {
    background-color: #9a197e;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c58bc5;
}