.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(55, 35, 61);
    width: 100%;
      height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  color: white
}

.container {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}

.xterm-dom-renderer-owner-1 {
  display: none;
}

#disconnect{
  color: #c58bc5;
  height: 30px;
  width: 30px;
}

#connect {
  color: #c58bc5;
  height: 30px;
  width: 30px;
}

#clear{
  color: white;
  height: 30px;
  width: 30px;
}

#download{
  color: #c58bc5;
  height: 30px;
  width: 30px;
}

.terminal-container {
  z-index: 9999;
}

.clibutton {
  background-color: rgb(55, 35, 61);
  border: none;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.66);
}

.clibutton {
  position: relative;
    margin: auto;
}

.clibutton .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  font-size: small;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.clibutton:hover .tooltip {
  visibility: visible;
}

.clibutton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  z-index: 1;
  background-color: rgb(154, 25, 126);
  transition: background-color 0.3s ease;
  /* Add transition for background-color */
}

#clearbutton {
  position: relative;
  top: 600px;
  right: -45%;
}

#disconnectbutton {
  position: relative;
  top: 150px;
  right: -45%;
}

#downloadbutton {
  position: relative;
  top: 570px;
  right: -45%;
}

.clearbutton:hover #clear {
  color: rgb(154, 25, 126);
}

.clearbutton:hover {
  background-color: #c58bc5;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0);
}

.clearbutton:active {
  background-color: #a83da8;
  /* Change the background color on click */
}

.connectbutton {
  margin-top: 35%;
  color: white;
  background-color: rgb(154, 25, 126);
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.connectbutton:hover {
  color: rgb(154, 25, 126);
  background-color: #c58bc5;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
}

.connectbutton:hover #connect {
  color: rgb(154, 25, 126);
}

.connectbutton #connect {
  color: white;
}

.connect-container {
  /* Add necessary styles for your container, e.g., height, width, display, etc. */
  display: flex;
  justify-content: center;
  align-items: center;
}

.connectbutton-text {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#terminal {
  position: fixed;
  height: 100%;
  z-index: 10;
  margin-top: -36px;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.navbar a {
  margin-right: 15px;
}