body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(55, 35, 61);
    overflow-x: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
}

p {
    color: white
}

#clear-button {
    position: relative;
    top: 20vh;
    right: -45%;
}

#disconnect-button {
    position: relative;
    top: 2.5vh;
    right: -45%;
}

#download-button {
    position: relative;
    top: 4.5vh;
    right: -45%;
}

#start-button {
    position: relative;
    top: -12vh;
    right: 45%;
}

#stop-button {
    position: relative;
    top: -10vh;
    right: 45%;
    padding: 10px
}

#dcsd-button {
    position: relative;
    top: -8vh;
    right: 45%;
}

#reset-button {
    position: relative;
    top: -6vh;
    right: 45%;
}

#dfu-button {
    position: relative;
    top: -4vh;
    right: 45%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.navbar a {
    margin-right: 15px; 
}

.socials-section {
    text-align: center;
}

.socials-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#altium-iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.socials-list li {
    display: inline-block;
}

.pcb-container {
    position: relative;
}

.pcb-github-button{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}